# Scheduler Environment Variables
# (Optional) Docker Hub credentials. Set these if you wish to push built images.
DOCKER_USERNAME=your_docker_username
DOCKER_PASSWORD=your_docker_password
DOCKER_HUB_PUSH=true
